
.map-container {
	width: 95%;
	max-width: 870px;
	margin: 2rem auto;
	box-shadow: 0 2px 12px rgba(0,0,0,0.12);
	border-radius: 12px;
	overflow: hidden;
	background: #fff;
}

.map-container iframe {
	margin-top: 6.5rem;
	display: block;
	width: 100%;
	height: 570px;
	border: none;
}

@media (min-width: 1024px) {
	.map-container {
		width: 95%;
		max-width: 2000px;
	}

	.map-container iframe {
		margin-top: 10rem;
		display: block;
		height: 700px;
		border: none;
	}
}
