<section class="header">
  <div class="header-content">
    <div class="burger-menu">
      <button class="burger-button" (click)="toggleMenu($event)" [class.active]="isMenuOpen">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <nav class="menu-items" [class.open]="isMenuOpen">
        <ul>
          <li><a [routerLink]="'/'">Home</a></li>
          <li><a [routerLink]="'/menu'">Menú del Bar</a></li>
          <li><a [routerLink]="'/location'">Donde Comprar</a></li>
          <li class="last"><a [routerLink]="'/contact'">Contacto</a></li>
        </ul>
      </nav>
    </div>
    <div class="logo-container" [routerLink]="'/'">
  <img src="../../../../assets/logo-largo.png" alt="Tres Esencias Logo" />
    </div>
    <nav class="desktop-menu-items">
      <ul>
        <li><a [routerLink]="'/'">Home</a></li>
        <li><a [routerLink]="'/menu'">Menú del Bar</a></li>
        <li><a [routerLink]="'/location'">Donde Comprar</a></li>
        <li class="last"><a [routerLink]="'/contact'">Contacto</a></li>
      </ul>
    </nav>
  </div>
</section>
