<section class="hero" id="home">
  <div class="static-hero">
    <div class="image-caption-text">
      <div class="text-container">
        <p>Los únicos cocteles con textura de helado en Bogotá</p>
      </div>
    </div>
    <picture>
      <source [srcset]="heroImageWebp" type="image/webp">
      <source [srcset]="heroImage" type="image/jpeg">
      <img [src]="heroImage" class="hero-image" alt="Coctel congelado Tres Esencias" fetchpriority="high" width="2000"  />
    </picture>
  </div>
  <div class="carousel-container">
    <div class="image-overlay-white-line">
      <h5>Los únicos cocteles con textura de helado en Bogotá</h5>
    </div>
    <div class="custom-carousel" aria-label="Product Carousel" aria-roledescription="Carousel of product images and details">
      <div class="carousel-track" [style.transform]="'translateX(-' + (currentSlide * 100) + '%)'">
        <div class="carousel-item" *ngFor="let product of products; let i = index">
          <div class="image-container">
            <!-- <div class="overlay-description" [ngClass]="product.styleClass">
              <h4>{{product.description}}</h4>
              <h4>{{product.description2}}</h4>
            </div> -->
            <picture>
              <!-- <source [srcset]="product.imageWebp" type="image/webp">
              <source [srcset]="product.image" type="image/jpeg"> -->
              <img [src]="product.image" [alt]="product.name" class="product-image" fetchpriority="high" width="700" height="1050" loading="lazy"/>
            </picture>
          </div>
        </div>
      </div>
      <div class="carousel-indicators">
        <span *ngFor="let product of products; let i = index" class="carousel-dot" [class.active]="i === currentSlide" (click)="goToSlide(i)"></span>
      </div>
    </div>
  </div>
</section>
