<section class="hero" id="home">
  <div class="static-hero">
    <div class="image-caption-text">
      <p>Los únicos cocteles con textura de helado en Bogotá</p>
    </div>
    <img src="/assets/hero-image.jpg" alt="Coctel congelado Tres Esencias" class="hero-image" fetchpriority="high"/>
  </div>
  <div class="scroll-screen"></div>
  <div class="carousel-container">
    <div class="image-overlay-white-line">
      <h5>Los únicos cocteles con textura de helado en Bogotá</h5>
    </div>
    <p-carousel [value]="products" [autoplayInterval]="3000" [numVisible]="1" [numScroll]="1" [circular]="true"
      [showNavigators]="false" indicatorStyleClass="custom-indicator" aria-label="Product Carousel"
      aria-roledescription="Carousel of product images and details">
      <ng-template let-product pTemplate="item">
        <div class="carousel-item">
          <div class="image-container">
            <div class="overlay-description" [ngClass]="product.styleClass">
              <h4>{{product.description}}</h4>
              <h4>{{product.description2}}</h4>
            </div>
            <img [src]="product.image" [alt]="product.name" class="product-image" />
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</section>
