h1 {
  color: black !important;
}

.description {
  position: relative;
  background: white;
  border: 1px solid #eee;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 90px;
  padding-top: 15px;
  min-height: 600px;
  width: 100%;
}

.vertical-description {
  padding: 1rem;
}

.horizontal-slider {
  padding: 1rem 0 2rem 1rem;
  display: flex;
  overflow-x: auto;
  height: 220px;
  width: 100%;

  .cocktail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1rem;
  }

  .small-intro {
    flex: 0 0 auto;
    margin-right: 1rem;
    width: 70vw;

    h1 {
      margin-top: 0;
    }
  }

  .cocktail-card {
    flex: 0 0 auto;
    margin-right: 1rem;

    img {
      width: 150px;
      height: 150px;
      display: block;
      object-fit: cover;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  }
}

.accordion-container {
  margin: 20px auto;

  .menu-button {
    width: 100%;
    background: none;
    border: none;
    padding-bottom: 20px;
    cursor: pointer;

    h1 {
      font-size: 2rem;
    }
  }

  h1 {
    margin: 0;
  }

  p {
    text-align: justify;
  }
}

.accordion-item {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  overflow: hidden;
}

.accordion-header {
  width: 100%;
  padding: 16px;
  background: white;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.accordion-header:hover {
  background: white;
}

.accordion-header.active {
  background: #f7f4f4;
}

.icon {
  transition: transform 0.3s ease;
  font-size: 12px;
}

.icon.rotated {
  transform: rotate(180deg);
}

.accordion-content-wrapper {
  overflow: hidden;
  min-height: 6px;
}

.accordion-content {
  padding: 16px;
  background: white;
}

.google-review-link {
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  background-color: #bfa16a;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s, box-shadow 0.2s;

  &:hover,
  &:focus {
    background-color: #c0a065;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
    text-decoration: none;
    outline: none;
  }
}

@media (min-width: 640px) {
  .description {
    margin-top: 0;
  }

  #galeria {
    display: none;
  }
}
