<section id="cocktail" class="description">
  <div class="vertical-description">
    <h1>
        COCTELES QUE SE COMEN COMO GELATO:
    </h1>
    <P>
        En Tresesencias creemos que cada sabor debe contar una historia. 
        Nuestros cocteles congelados están diseñados para sorprender el paladar y 
        despertar emociones.
    </P>
    <p>
        Una propuesta única para quienes buscan elevar cada momento con sabores 
        diferentes a tu Gelato de toda la vida y el estilo que buscabas.
    </p>
  </div>
  <div class="horizontal-slider">
    <div class="small-intro">
        <h1>Nuestros Cocteles</h1>
        <p>Tus cocteles favoritos de toda la vida, convertidos en un gelato 
            delicioso para que disfrutes en cualquier momento del día.
        </p>
    </div>
    <div class="cocktail-container" *ngFor="let cocktail of cocktails">
        <div class="cocktail-card">
            <img [src]="cocktail.image" alt="{{ cocktail.name }}">
        </div>
    </div>
  </div>
</section>
