@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Geist', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', Arial, sans-serif;
  font-weight: 700;
}

html, body {
    overflow-x: hidden;
    scrollbar-width: none; // Firefox
    -ms-overflow-style: none; // IE and Edge

    &::-webkit-scrollbar {
        display: none; // Chrome, Safari, Opera
    }
}